.catalog-page {
  background-color: #ffffff;
  color: #000000;
  min-height: 100vh;
}

.catalog-content {
  background: #f2f2f2;
  padding: 3rem 2rem 6rem 2rem;
}

.catalog-content > * {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}