/* SECCIÓN GENERAL */
.latest-section {
  text-align: center;
  padding: 6rem 4rem; 
  background: #fafafa;
}

/* CONTENEDOR CENTRAL */
.latest-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2.5rem; 
  text-align: center;
  box-sizing: border-box;
}

/* TÍTULO */
.latest-title {
  font-size: 2.5rem;
  font-weight: 200;
  letter-spacing: 3px;
  margin-bottom: 1.4rem;
  white-space: nowrap;
}

/* SUBTÍTULO */
.latest-subtitle {
  font-size: 0.9rem;
  font-weight: 300;
  margin-bottom: 4rem;
  white-space: nowrap;       
  overflow: hidden;
  text-overflow: ellipsis;
}

/* IMÁGENES */
.latest-img {
  width: 170px;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  display: block;
  margin: auto;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .latest-title {
    font-size: 3rem;
    white-space: normal; 
  }

  .latest-subtitle {
    white-space: normal;
  }

  .latest-img {
    width: 130px;
  }
}
.latest-swiper {
  width: 100%;
  height: 300px; 
}

.latest-swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.latest-img {
  max-height: 100%;
  object-fit: cover;
}



