/* Sección completa */
.latest-grid-section {
color: #000000;
    text-align: center;
    margin-bottom: 6rem;
    width: 100%;
    box-sizing: border-box;
}


/* Título */
.latest-title {
    font-size: 2.4rem;
    font-weight: 100;
    color:#ffffff;
    letter-spacing: 3px;
    margin-top: 6rem;
    margin-bottom: 1.2rem;
}

/* Subtítulo */
.latest-subtitle {
    font-size: 0.9rem;
    font-weight: 100;
    color: #ffffff;
    max-width: 720px;
    margin: 0 auto 4rem auto;
    line-height: 1.4;
}

/* Grid */
.latest-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 240px); 
    gap: 70px;
    justify-content: center;
}

/* Card */
.latest-grid-item {
    width: 100%;
    max-width: 250px;
    background-color: rgba(255, 255, 255, 0.04);
    overflow: hidden;
    border-radius: 0; 
}

/* Imagen */
.latest-grid-item img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 0;
}

/* Responsive */
@media (max-width: 768px) {
    .latest-grid-section {
        padding: 60px 15px;
    }

    .latest-grid-container {
        gap: 20px;
    }
}
