.photobook-grid {
  display: grid;
  grid-template-columns: repeat(3, 240px);
  gap: 70px;
  justify-content: center;
}

.photobook-card {
  width: 100%;
  max-width: 250px;
  background-color: rgba(255, 255, 255, 0.04);
  overflow: hidden;
}

.photobook-card img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
