@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"); /*Íconos de Bootstrap importados*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;900&display=swap"); /*Fuente Poppins importada. Weights 200, 400, 700 y 900*/

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;200;300;400;500;600;700;800&display=swap');

html, body, #root {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #ffffff;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
}
